<div>
  <div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      
<%= form_with(model: @user, url: "/users/#{@user.id}/actives/#{@active_id}/update_edit_action", method: :patch) do |f| %>
		
			<table class = "table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>開始</th>
            <th>終了</th>
            <th>メモ</th>
          </tr>
        </thead>
        <tbody>
          <%= fields_for "actives", @dates do |af| %>
          <tr>
            <td><%= l(@dates.worked_on, format: :short) %></td>
            <td><%= %w{日 月 火 水 木 金 土}[@dates.worked_on.wday] %></td>
            <td><%= af.time_field :started_at, class: "form-control" %></td>
            <td><%= af.time_field :finished_at, class: "form-control" %></td>
            <td><%= af.text_field :note, class: "form-control" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    <%= f.submit "更新", class: "btn btn-primary btn-block modal-button-space" %>
    <% end %>
    </div>
    </div>
    </div>
		</div>