<tbody>
      <tr>
        <th>メニュー</th>
        <th>開始時間</th>
        <th>終了時間</th>
        <th>合計時間</th>
        <th>メモ</th>
      <% if current_user.admin? || current_user?(@user)%>
        <th>場所</th>
        <th>編集</th>
        <th>削除</th>
      <% end %>
      </tr>
    </tbody>
    
    <tfoot>
      <% @plans.each do |plan|%>
      <tr>
        <td><%=plan.menu %></td>
        <td><%= plan.created_at.strftime("%Y年%m月%d日 %H:%M")%></td>
        <td><%= plan.finished_at.strftime("%Y年%m月%d日 %H:%M") if plan.finished_at.present? %></td>
        <td>
          <% if plan.created_at.present? && plan.finished_at.present? %>
          <%= working_times(plan.created_at, plan.finished_at) %>
          <% seconds = (plan.finished_at - plan.created_at).to_i %>
          <% @total_seconds = @total_seconds.to_i + seconds %>
          <% else plan.created_at.present? && plan.finished_at.nil? %>
          <%= working_times(plan.created_at, Time.current) %>
          <% end %>
        </td>
        <td><%= plan.note%></td>
        
        <% if current_user.admin? || current_user?(@user)%>
        <td><% if plan.latitude.present? && plan.longitude.present? %>
          <%= link_to(places_user_path(plan),target: :_blank) do %>
        <i class="fa fa-map-marker fa-2x  btn button_map"></i>
        <% end %>
        <% end %>
        </td>
        
        <td><%= link_to(edit_plan_path(plan), remote: true) do %>
        <i class="fa fa-edit fa-2x btn button_edit"></i>
        <% end %>
        </td>
        
        <td><%= link_to(plan, method: :delete,data: { confirm: "削除してよろしいですか？" }) do%>
        <i class="fa fa-trash fa-2x btn button_delete"></i>
        <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
      
      <tr>
        <td>合計数</td>
        <td><%=@plans.count%></td>
        <td>累計時間</td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <% if current_user.admin? %>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    </tfoot>