<div class="center">
<div class = "test">ユーザー一覧</div>
</div>
<%= paginate @users %>
<div class = "center">
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <theader>
      <tr>
        <th>名前</th>
        <th>アクション状況</th>
        <% if current_user.admin? %>
         <th>編集</th>
          <th>削除</th>
          <% end %>
      </tr>
    </theader>
    <tbody>
      <% @users.each do |user| %>
      <tr>
      <td><% if current_user.admin? %>
            <%= link_to user.name, logs_user_path(user) %>
          <% else %>
            <%= user.name %>
          <% end %>
      </td>
      <td><% if user.plans.any?{|plan|
         (plan.created_at.present? &&
         plan.finished_at.blank?)} %>
         <%="実行中.."%>
         <% end %>
      </td>
      <% if current_user.admin? %>
      <td><%= link_to(edit_basic_info_user_path(user),remote: true) do %>
           <i class="fa fa-edit fa-2x btn button_edit"></i>
          <% end %></td>
       <% unless user.admin %>
      <td><%= link_to(user, method: :delete,data: { confirm: "削除してよろしいですか？" }) do%>
           <i class="fa fa-trash fa-2x btn button_delete"></i>
          <% end %></td>
       <% end %><!--unless user.admin-->
      <% end %><!--current_user.admin?-->
      <% end %><!--@users.each-->
      </tr>
    </tbody>
</table>
</div>

<%= paginate @users %>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Microposts</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- コード追加　Font Awesome読み込みコード-->
　　 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  
  <!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>