<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前：<%= @user.name %></td>
    </tr>
    <tr>
      <td>履歴数：<%= @plans.count %></td>
    </tr>
  </table>
</div>
<%= link_to "全て", logs_user_path(current_user), class: "btn btn-success" %>
<%= link_to "月別", logs_month_user_path(current_user), class: "btn btn-success" %>
<%= link_to "日別", logs_day_user_path(current_user), class: "btn btn-success" %>
<div class="btn-users-show center">
  <%= link_to "⇦ 先月", logs_month_user_path(date: @month_first.prev_month), class: "btn btn-info" %>
  <%= @month_first.strftime("%Y年%m月")%>
  <%= link_to "翌月 ⇨", logs_month_user_path(date: @month_first.next_month), class: "btn btn-info" %>
</div>

<% if @plans.present? %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <!--Chart.js表示-->
      <div class="chart-container" style="position: relative; height:50vh; width:80vw">
        <canvas id="myChart"></canvas>
      </div>
    </thead>

    <%= render 'logs_index' %>
    
  </table>
</div>
<% end %>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--Chart.js表示-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script>
                    var dataLabelPlugin = {
                        afterDatasetsDraw: function (chart, easing) {
                            // To only draw at the end of animation, check for easing === 1
                            var ctx = chart.ctx;

                            chart.data.datasets.forEach(function (dataset, i) {
                                var dataSum = 0;
                                dataset.data.forEach(function (element){
                                    dataSum += element;
                                });

                                var meta = chart.getDatasetMeta(i);
                                if (!meta.hidden) {
                                    meta.data.forEach(function (element, index) {
                                        // Draw the text in black, with the specified font
                                        ctx.fillStyle = 'rgb(255, 255, 255)';

                                        var fontSize = 12;
                                        var fontStyle = 'normal';
                                        var fontFamily = 'Helvetica Neue';
                                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                        // Just naively convert to string for now
                                        var labelString = chart.data.labels[index];
                                        var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

                                        // Make sure alignment settings are correct
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'middle';

                                        var padding = 5;
                                        var position = element.tooltipPosition();
                                        ctx.fillText(labelString, position.x, position.y - (fontSize / 2) - padding);
                                        ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
                                    });
                                }
                            });
                        }
                    };
                   
                    // Chart
                    var myChart = "myChart";
                    var chart = new Chart(myChart, {
                        type: 'pie',
                        data: {
                            labels: ["フリー", "勉強", "運動", "仕事", "食事", "睡眠"],
                            datasets: [{
                                label: "Sample",
                                backgroundColor: ["#3F51B5", "#F44336", "#FF9800", "#4CAF50", "#9C27B0", "#00BCD4", "#E91E63"],
                                data: [<%= "#{@user.plans.where(created_at: @month_first..@month_last,menu: ['フリー']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @month_first..@month_last,menu: ['勉強']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @month_first..@month_last,menu: ['運動']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @month_first..@month_last,menu: ['仕事']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @month_first..@month_last,menu: ['食事']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @month_first..@month_last,menu: ['睡眠']).count}"%>],
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "割合"
                            },
                            legend:{
                            },
                            maintainAspectRatio: false,
                        },
                        plugins: [dataLabelPlugin],
                    });
</script>