<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前：<%= @user.name %></td>
    </tr>
    <tr>
      <td>履歴数：<%= @plans.count %></td>
    </tr>
  </table>
</div>

<% if current_user?(@user) %>
<div class="center">
  <div class="row">
    <div class="col-sm-1">
      <%= link_to "全て", logs_user_path(current_user), class: "btn day" %>
    </div>
    <div class="col-sm-1">
      <%= link_to "月別", logs_month_user_path(current_user), class: "btn day" %>
    </div>
    <div class="col-sm-1">
      <%= link_to "日別", logs_day_user_path(current_user), class: "btn day" %>
    </div>
  </div>
  <div class = "center">
      <%= link_to "アクション作成", start_user_path(current_user), class: "btn start" %>
  </div>
</div>
<% end %>

<% if @plans.present? %>
<div>
    <thead>
      <!--Chart.js表示-->
      <div class="chart-container" style="position: relative; height:50vh; width:80vw center">
        <canvas id="myChart"></canvas>
      </div>
    </thead>
    
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <% if current_user?(@user) || current_user.admin? %>
    <%= link_to " CSV出力", csv_dl_path(format: :csv), class: "btn csv fa fa-arrow-circle-o-down fa-lg", method: :post %>
    <% end %>
    <%= form_with(scope: :search, url: logs_user_path, method: :get, local: true) do |f| %>
  <%= select_tag :search, options_for_select([["",""],["フリー","フリー"], ["勉強","勉強"], ["運動","運動"], ["仕事","仕事"], ["食事","食事"], ["睡眠","睡眠"]],:selected=>"6"),
  { autofocus: 'true', class: 'search-form'} %>
  <%= submit_tag '検索', :menu => nil, class: "btn search-btn"%>
<% end %>
    <%= render 'logs_index' %>
    
  </table>
</div>
<% end %>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--Chart.js表示-->
<!--フリー合計時間-->
<% @frees.each do |free|%>
     <% if free.finished_at.present? %>
          <% seconds = (free.finished_at - free.created_at).to_i %>
          <% @frees_sum = @frees_sum.to_i + seconds %>
     <% end %>
    <% end %>
<!--勉強合計時間-->
<% @studys.each do |study|%>
     <% if study.finished_at.present? %>
      <% seconds = (study.finished_at - study.created_at).to_i %>
          <% @studys_sum = @studys_sum.to_i + seconds %>
     <% end %>
    <% end %>
<!--運動合計時間-->
<% @sports.each do |sport|%>
     <% if sport.finished_at.present? %>
      <% seconds = (sport.finished_at - sport.created_at).to_i %>
          <% @sports_sum = @sports_sum.to_i + seconds %>
     <% end %>
    <% end %>
<!--仕事合計時間-->
<% @jobs.each do |job|%>
     <% if job.finished_at.present? %>
      <% seconds = (job.finished_at - job.created_at).to_i %>
          <% @jobs_sum = @jobs_sum.to_i + seconds %>
     <% end %>
    <% end %>
<!--食事合計時間-->
<% @meals.each do |meal|%>
     <% if meal.finished_at.present? %>
      <% seconds = (meal.finished_at - meal.created_at).to_i %>
          <% @meals_sum = @meals_sum.to_i + seconds %>
     <% end %>
    <% end %>
<!--睡眠合計時間-->
<% @sleeps.each do |sleep|%>
     <% if sleep.finished_at.present? %>
      <% seconds = (sleep.finished_at - sleep.created_at).to_i %>
          <% @sleeps_sum = @sleeps_sum.to_i + seconds %>
     <% end %>
    <% end %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script>
                    var dataLabelPlugin = {
                        afterDatasetsDraw: function (chart, easing) {
                            // To only draw at the end of animation, check for easing === 1
                            var ctx = chart.ctx;

                            chart.data.datasets.forEach(function (dataset, i) {
                                var dataSum = 0;
                                dataset.data.forEach(function (element){
                                    dataSum += element;
                                });

                                var meta = chart.getDatasetMeta(i);
                                if (!meta.hidden) {
                                    meta.data.forEach(function (element, index) {
                                        // Draw the text in black, with the specified font
                                        ctx.fillStyle = 'rgb(255, 255, 255)';

                                        var fontSize = 12;
                                        var fontStyle = 'normal';
                                        var fontFamily = 'Helvetica Neue';
                                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                        // Just naively convert to string for now
                                        var labelString = chart.data.labels[index];
                                        var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

                                        // Make sure alignment settings are correct
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'middle';

                                        var padding = 5;
                                        var position = element.tooltipPosition();
                                        ctx.fillText(labelString, position.x, position.y - (fontSize / 2) - padding);
                                        ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
                                    });
                                }
                            });
                        }
                    };
                   
                    // Chart
                    var myChart1 = "myChart";
                    var chart = new Chart(myChart1, {
                        type: 'pie',
                        data: {
                            labels: ["フリー", "勉強", "運動", "仕事", "食事", "睡眠"],
                            datasets: [{
                                label: "Sample",
                                backgroundColor: ["#5D99FF", "#FA8072", "#FFD700", "#9ACD32", "#9370DB", "#F4A460"],
                                data: [
                                <%= working_times_sum(@frees_sum) %>,
                                <%= working_times_sum(@studys_sum) %>,
                                <%= working_times_sum(@sports_sum) %>,
                                <%= working_times_sum(@jobs_sum) %>,
                                <%= working_times_sum(@meals_sum) %>,
                                <%= working_times_sum(@sleeps_sum) %>],
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "割合"
                            },
                            legend:{
                            },
                            maintainAspectRatio: false,
                        },
                        plugins: [dataLabelPlugin],
                    });
</script>