<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前：<%= @user.name %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>履歴数：<%= @plans.count %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<%= link_to "CSV出力", csv_dl_path(format: :csv), class: "btn btn-primary", method: :post %>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>メニュー</th>
        <th>開始時間</th>
        <th>終了時間</th>
        <th>メモ</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      
      <% @plans.each do |plan|%>
      <tr>
        <td><%=plan.menu %></td>
        <td><%= plan.created_at.strftime("%Y年%m月%d日 %H:%M:%S")%></td>
        <td><%= plan.finished_at.strftime("%Y年%m月%d日 %H:%M:%S") if plan.finished_at.present? %></td>
        <td>
          <% if plan.created_at.present? && plan.finished_at.present? %>
              <%= (plan.finished_at - plan.created_at) %>
          <% end %>
        </td>
        <td><%= plan.note%></td>
      </tr>
      <% end %>
    </tbody>
    <% @sales.each do |sale|%>
    <%=sale%>
    <%end%>
    <tfoot>
    </tfoot>
  </table>
</div>