<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前：<%= @user.name %></td>
    </tr>
    <tr>
      <td>履歴数：<%= @plans.count %></td>
    </tr>
  </table>
</div>
<%= link_to "全て", logs_user_path(current_user), class: "btn btn-success" %>
<%= link_to "月別", logs_month_user_path(current_user), class: "btn btn-success" %>
<%= link_to "日別", logs_day_user_path(current_user), class: "btn btn-success" %>
<div class="btn-users-show center">
    <%= link_to "⇦ 前日", logs_day_user_path(date: @today_first.prev_day), class: "btn btn-info" %>
    <%= @today_first.strftime("%m月%d日")%>
  <%= link_to "翌日 ⇨", logs_day_user_path(date: @today_first.next_day), class: "btn btn-info" %>
</div>

<% if @plans.present? %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <!--Chart.js表示-->
      <div class="chart-container" style="position: relative; height:50vh; width:80vw">
        <canvas id="myChart"></canvas>
      </div>
    </thead>

    <tbody>
      <tr>
        <th>メニュー</th>
        <th>開始時間</th>
        <th>終了時間</th>
        <th>合計時間</th>
        <th>メモ</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </tbody>
    
    <tfoot>
      <% @plans.each do |plan|%>
      <tr>
        <td><%=plan.menu %></td>
        <td><%= plan.created_at.strftime("%Y年%m月%d日 %H:%M")%></td>
        <td><%= plan.finished_at.strftime("%Y年%m月%d日 %H:%M") if plan.finished_at.present? %></td>
        <td>
          <% if plan.created_at.present? && plan.finished_at.present? %>
          <%= working_times(plan.created_at, plan.finished_at) %>
          <% seconds = (plan.finished_at - plan.created_at).to_i %>
          <% @total_seconds = @total_seconds.to_i + seconds %>
          <% else plan.created_at.present? && plan.finished_at.nil? %>
          <%= working_times(plan.created_at, Time.current) %>
          <% end %>
        </td>
        <td><%= plan.note%></td>
        <td><%= link_to "編集", edit_plan_path(plan), remote: true,class: "btn btn-success" %></td>
        <td><%= link_to "削除", plan, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
      
      <tr>
        <td><%=@plans.count%></td>
        <td></td>
        <td></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    
  </table>
</div>
<% end %>

<!--モーダルウインドウ表示-->
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--Chart.js表示-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script>
                    var dataLabelPlugin = {
                        afterDatasetsDraw: function (chart, easing) {
                            // To only draw at the end of animation, check for easing === 1
                            var ctx = chart.ctx;

                            chart.data.datasets.forEach(function (dataset, i) {
                                var dataSum = 0;
                                dataset.data.forEach(function (element){
                                    dataSum += element;
                                });

                                var meta = chart.getDatasetMeta(i);
                                if (!meta.hidden) {
                                    meta.data.forEach(function (element, index) {
                                        // Draw the text in black, with the specified font
                                        ctx.fillStyle = 'rgb(255, 255, 255)';

                                        var fontSize = 12;
                                        var fontStyle = 'normal';
                                        var fontFamily = 'Helvetica Neue';
                                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                        // Just naively convert to string for now
                                        var labelString = chart.data.labels[index];
                                        var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

                                        // Make sure alignment settings are correct
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'middle';

                                        var padding = 5;
                                        var position = element.tooltipPosition();
                                        ctx.fillText(labelString, position.x, position.y - (fontSize / 2) - padding);
                                        ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
                                    });
                                }
                            });
                        }
                    };
                   
                    // Chart
                    var myChart = "myChart";
                    var chart = new Chart(myChart, {
                        type: 'pie',
                        data: {
                            labels: ["フリー", "勉強", "運動", "仕事", "食事", "睡眠"],
                            datasets: [{
                                label: "Sample",
                                backgroundColor: ["#3F51B5", "#F44336", "#FF9800", "#4CAF50", "#9C27B0", "#00BCD4", "#E91E63"],
                                data: [<%= "#{@user.plans.where(created_at: @today_first..@today_last,menu: ['フリー']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @today_first..@today_last,menu: ['勉強']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @today_first..@today_last,menu: ['運動']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @today_first..@today_last,menu: ['仕事']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @today_first..@today_last,menu: ['食事']).count}"%>,
                                <%= "#{@user.plans.where(created_at: @today_first..@today_last,menu: ['睡眠']).count}"%>],
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "割合"
                            },
                            legend:{
                            },
                            maintainAspectRatio: false,
                        },
                        plugins: [dataLabelPlugin],
                    });
</script>