<h1><%= link_to "新規作成", new_plan_path, class: "btn btn-success btn-lg" %></h1>
<h2><% @plans.each do |plan|%>
<%=plan.menu %>
<%= plan.created_at.strftime("%Y年%m月%d日 %H:%M:%S")%>
<%= plan.finished_at.strftime("%Y年%m月%d日 %H:%M:%S") if plan.finished_at.present? %>
<%= plan.note%>
<%= link_to "終了", update_plan_path(plan), method: :patch, class: "btn btn-primary" if plan.finished_at.nil? %>
<%= link_to "詳細", plan_path(plan.id), class: "btn btn-primary"%>
<% end %></h2>

<%= pie_chart @chart %>
<%= pie_chart @chart_2 %>