<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th></th>
        <th>開始</th>
        <th>終了</th>
        <th>合計時間</th>
        <th>メモ</th>
        <th>編集（仮）</th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan|%>
      <tr>
        <td><%=plan.menu %></td>
        <td><%= plan.created_at.strftime("%Y年%m月%d日 %H:%M:%S")%></td>
        <td><%= plan.finished_at.strftime("%Y年%m月%d日 %H:%M:%S") if plan.finished_at.present? %></td>
        <td>
          <% if plan.created_at.present? && plan.finished_at.present? %>
              <%= (plan.finished_at - plan.created_at) %>
          <% end %>
        </td>
        <td><%= plan.note%></td>
      </tr>
      <% end %>
    </tbody>

    <tfoot>
      
    </tfoot>    
  </table>
</div>