<h1>アクション編集</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @plan,url: "/modal/#{@plan.id}",method: :patch, local: true) do |f| %>
    
    <tbody>
        <%= f.label :日付, class:"label-#{yield(:class_text)}" %>
        <%= f.date_field :updated_at, class: "form-control" %>
        <%= f.label :メニュー, class:"label-#{yield(:class_text)}" %>
        <%= f.select :menu,{"フリー" => "フリー","勉強" => "勉強","運動" => "運動", "仕事" => "仕事", "食事" => "食事", "睡眠" => "睡眠"},{}, class: "form-control" %>
        <%= f.label :開始時間, class:"label-#{yield(:class_text)}" %>
        <%= f.time_field :created_at,value: @plan.created_at.strftime("%H:%M"), class: "form-control" %>
        
        <%= f.label :終了時間, class:"label-#{yield(:class_text)}" %>
        <% if @plan.finished_at.nil? %>
         <%= f.time_field :finished_at, class: "form-control" %>
        <% else @plan.finished_at.present? %>
         <%= f.time_field :finished_at,value: @plan.finished_at.strftime("%H:%M"),class: "form-control" %>
        <% end %>
        
        <%= f.label :メモ, class:"label-#{yield(:class_text)}" %>
        <%= f.text_field :note, class: "form-control" %>
    
    </tbody>
    
    <%= f.submit "更新", class: "btn btn-primary btn-block modal-button-space" %>
    <% end %>
  </div>
</div>