<header class="navbar navbar-fixed-top navbar-default navbar-light" style="background-color: #F4A460;">
  <div class="container">
    <b><i><%= link_to "Time-Active", root_path, id: "logo" %></i></b>
    <nav>
      <b><i><ul class="nav navbar-nav navbar-right">
        <% unless logged_in? %>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% else %>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li><%= link_to "アクション作成", start_user_path(current_user) %></li>
          <li><%= link_to "集計", logs_user_path(current_user) %></li>
          <li><%= link_to "ユーザー一覧", users_path if current_user.admin%></li>
        <% end %>
      </ul></i></b>
    </nav>
  </div>
</header>